<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pushed Passwords</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
  
    <h1>My Pushed Passwords</h1>
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Password</th>
                <th>Expiration</th>
                <th>Max Views</th>
                <th>Current Views</th>
            </tr>
        </thead>
        <tbody>
            {% for password in passwords %}
            <tr>
                <td>{{ url_for('get_password', url=password[0], _external=True) }}</td>
                <td>{{ password[1] }}</td>
                <td>{{ password[2] }}</td>
                <td>{{ password[3] }}</td>
                <td>{{ password[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('home') }}">Create New Password</a>
    <a href="{{ url_for('logout') }}">Logout</a>      
    </div>
</body>
</html>